{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'components/header.html' %}
   
    <main>
        <div class="vertcontainer-bin">
            <div class="gray-rectangle">Корзина</div>
            <div class="pay-rectangle">Выберите способ оплаты</div>
        </div>
        <div class="card-container-bin">
            <div class="payment">
                <div class="smallpayment">Сумма к оплате: {{total_cost}}</div>
                <form action="{% url 'pay-order' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type=submit class="pay-button" value="Оплатить">
                </form>
                <form action="{% url 'delete-order' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type=submit class="delete-button" value="Удалить">
                </form>
            </div> 
                <div>
                {% for route in data %}
                    <div class="card-bin">
                        <img src="{{route.thumbnail}}" alt="Иконка маршрута" class="journey-icon">
                        <h2>МАРШРУТ</h2>
                        <p>{{route.origin}} - {{route.destination}}</p>   
                        <a href="{% url 'product-page' id=route.id %}" class="details-button">Подробнее</a>
                    </div>
                {%endfor%}
                </div>
                     
            <!-- Повторить блок div для других карточек -->
        </div>              
    </main>
</body>
</html>
